<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.pasteme.common.mapper.TemporariesMapper">

    <resultMap type="cn.pasteme.common.entity.Temporary" id="temporary">
        <result property="key" column="key"/>
        <result property="lang" column="long"/>
        <result property="content" column="content"/>
        <result property="password" column="password"/>
        <result property="clientIp" column="client_ip"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>


</mapper>